:root {
  --md-sys-color-primary: rgb(46 98 140);
  --md-sys-color-surface-tint: rgb(46 98 140);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(205 229 255);
  --md-sys-color-on-primary-container: rgb(0 29 50);
  --md-sys-color-secondary: rgb(81 96 111);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(213 228 246);
  --md-sys-color-on-secondary-container: rgb(14 29 42);
  --md-sys-color-tertiary: rgb(103 88 122);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(238 220 255);
  --md-sys-color-on-tertiary-container: rgb(34 21 51);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(247 249 255);
  --md-sys-color-on-background: rgb(24 28 32);
  --md-sys-color-surface: rgb(247 249 255);
  --md-sys-color-on-surface: rgb(24 28 32);
  --md-sys-color-surface-variant: rgb(241 241 241);
  --md-sys-color-on-surface-variant: rgb(66 71 78);
  --md-sys-color-outline: rgb(114 119 127);
  --md-sys-color-outline-variant: rgb(194 199 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 53);
  --md-sys-color-inverse-on-surface: rgb(238 241 246);
  --md-sys-color-inverse-primary: rgb(154 203 250);
  --md-sys-color-primary-fixed: rgb(205 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 29 50);
  --md-sys-color-primary-fixed-dim: rgb(154 203 250);
  --md-sys-color-on-primary-fixed-variant: rgb(11 74 114);
  --md-sys-color-secondary-fixed: rgb(213 228 246);
  --md-sys-color-on-secondary-fixed: rgb(14 29 42);
  --md-sys-color-secondary-fixed-dim: rgb(185 200 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(58 72 87);
  --md-sys-color-tertiary-fixed: rgb(238 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(34 21 51);
  --md-sys-color-tertiary-fixed-dim: rgb(210 191 231);
  --md-sys-color-on-tertiary-fixed-variant: rgb(79 64 97);
  --md-sys-color-surface-dim: rgb(216 218 223);
  --md-sys-color-surface-bright: rgb(247 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 249);
  --md-sys-color-surface-container: rgb(236 238 243);
  --md-sys-color-surface-container-high: rgb(230 232 238);
  --md-sys-color-surface-container-highest: rgb(224 226 232);
}

html,
body {
  margin: 0;
  height: 100%
}

footer {
  background-color: #0974f1;
  padding: 2rem;
  width: 100%;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  max-width: 100%;
  height: auto;
  /* Optional */
  display: block;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.vh-100 {
  height: 100vh;
}

/* Sticky to the top */
.position-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-link {
  color: black;
}

/* Disable bootstrap .nav-link.active and replace with custom style */
.nav-pills .nav-link.active {
  color: black;
  background-color: rgba(0, 0, 0, 0.04);
  /* Small blue verical line on left side of box */
  border-left: 3px solid #87B6FC;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: black;
}

.shadow-lg {
  /* Thick right shadow */
  box-shadow: 10px 0 12px -10px rgba(0, 0, 0, 0.5) !important;
}

.bg-primary {
  background-color: #2E628C !important;
  color: white;
}

.bg-secondary {
  background-color: #DCEAFF !important;
}

.bg-offwhite {
  background-color: var(--md-sys-color-surface-variant) !important;
}

.rounded-pill {
  border-radius: 50px !important;
}

.col-1 {
  max-width: 10% !important;
  flex: 10% !important;
}

.overlay {
  /* Center overlay to center of screen and make it possible to close it by clicking anywhere but the overlay */
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: auto;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
  overflow-y: auto;
}

input,
textarea {
  overflow-y: auto;
}

label:hover {
  color: #4267C7;
  cursor: pointer;
}

.border-linear {
  max-width: 250px;
  padding: 1rem;
  background: linear-gradient(0deg, #87B6FC, #FFFFFF);
  padding: 1.5px;
  border-radius: 8px;
}

.rounded {
  border-radius: 8px !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
  background: #0974f1;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked+.slider:before {
  transform: translateX(1em);
}

.timestamps,
.events {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1px;
}

.timestamp {
  text-align: center;
}

.event {
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  border-radius: 8px;
  /* Shadow on bottom */
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--md-sys-color-surface);
  border-color: var(--md-sys-color-outline);
}

.btn-primary {
  background-color: #2E628C !important;
  border-color: var(--md-sys-color-outline) !important;
}

.btn-primary:hover {
  /* Tiny bit lighter */
  background-color: #4267C7 !important;
  border-color: var(--md-sys-color-outline) !important;
  /* Pop out */
  transform: scale(1.05);
}

.btn-outline-primary {
  color: #2E628C;
  /* gray */
  border-color: #495057;
}

.btn-secondary {
  /* Transparent */
  background-color: transparent !important;
  color: black;
}

.btn-secondary:hover {
  background-color: #DCEAFF !important;
  color: black;
}

.homework-container {
  max-height: 438px; /* Adjust the height as per your requirement */
  position: relative;
}

.dropdown-toggle::after {
  display:none;
}

.message-card {
  background-color: var(--md-sys-color-surface);
  transition: background-color 0.3s ease;
}

.message-card:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Darken effect on hover */
  cursor: pointer;
}

.message-card.selected {
  background-color: rgba(0, 0, 0, 0.1); /* Darken effect when selected */
}

@media (max-width: 991.98px) {
  #collapseSidebar {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1000;
  }
}

@media (min-width: 992px) {
  #collapseSidebar {
    position: sticky !important;
  }
}