html,
body {
  margin: 0;
  height: 100%
}

footer {
  background-color: #0974f1;
  padding: 2rem;
  width: 100%;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  max-width: 100%;
  height: auto;
  /* Optional */
  display: block;
}
.vh-100 {
  height: 100vh;
}

/* Sticky to the top */
.position-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-link {
  color: black;
}

/* Disable bootstrap .nav-link.active and replace with custom style */
.nav-pills .nav-link.active {
  color: black;
  background-color: rgba(0, 0, 0, 0.04);
  /* Small blue verical line on left side of box */
  border-left: 3px solid #87B6FC;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: black;
}

.shadow-lg {
  /* Thick right shadow */
  box-shadow: 10px 0 12px -10px rgba(0, 0, 0, 0.5) !important;
}

.bg-primary {
  background-color: #DCEAFF !important;
}

.bg-offwhite {
  background-color: #F1F1F1 !important;
}

.bg-gray {
  background-color: #999999 !important;
}

.bg-red {
  background-color: #FF0000 !important;
}

.bg-green {
  background-color: #00FF00 !important;
}

.bg-yellow {
  background-color: #FFFF00 !important;
}

.col-1 {
  max-width: 10% !important;
  flex: 10% !important;
}

.border-linear {
  max-width: 250px;
  padding: 1rem;
  background: linear-gradient(0deg, #87B6FC, #FFFFFF);
  padding: 1.5px;
  border-radius: 8px;
}

.rounded {
  border-radius: 8px !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
  background: #0974f1;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked+.slider:before {
  transform: translateX(1em);
}

.timestamps,
.events {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1px;
}

.timestamp {
  text-align: center;
}

.event {
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  border-radius: 8px;
  /* Shadow on bottom */
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
}

.homework-container {
  max-height: 438px; /* Adjust the height as per your requirement */
  position: relative;
}